
@font-face {
    font-family: 'braxton';
    src: url(font/Braxton.otf);
}

body{
    font-family: 'Vollkorn', serif !important;
    width: 100vw;
    overflow-x: hidden;
}

h1{
    /*font-family: 'Vollkorn', serif !important;*/
    font-family: 'PT Sans Caption', sans-serif !important;
}

h2,h3,h4{
    font-family: 'Ubuntu', sans-serif;
}

.img-responsive{
    display: inline !important;

}

.education{
    margin-left: 3%;
}

.top5{
    margin-top: 5%;
}
/*html,body{
    width: 100%;
    height: 100%;
}

.row > div{
    height: 100%;
    position: relative;
}

.main, .main > div{
    height: 100%;
}*/

.first{
    text-align: center;
    padding-top: 5%;

   /* height: 100vh;*/
   /* height: 100%;*/

    margin-bottom: 10%;
    /*border-bottom: 1px solid;*/
}

.logo{
    /*margin-top: 5%;*/
}

.divya{
    /*width: 50%;*/
    width: 50vw;
   /* margin-top: -10%;*/
    margin-left: 5%;

}

.social img{
    width: 30px;
    border-radius: 100%;
    margin-right: 1%;
}

.social{
    /*margin-top: -12%;*/
}

.name{
    font-weight: bold;
    /*font-size: 100px;*/
    font-size: 7vw;
    z-index: 5;
    background-color: white;
    font-family: 'braxton';

}

.post span{
    /*word-spacing: 3vw;*/
    font-size: 1vw;
    margin-left: 3%;
    margin-right: 3%;
}

/* second */

.second,.third, .fourth, .fifth{
    /*height: 100vh;*//*height: 100%;*/

    margin-bottom: 10%;
    text-align: center;
    padding: 2%;

    font-size: 125%;
}

.secondContainer{
    height: 75%;
}

.secondContainer > .row{
    height: 35%;
}

.secondContainer .col-lg-2.col-md-2.col-xs-3 {
    width: 16vw;
}

.second1{
    height: 25% !important;
}

.secondContainer > .row > div{
    height: 100%;
}

.divyaImg, .workImg{
    width: 10%;
}

.second h1{
    color: #E4511C;
    margin: 0;
}

.row>div{
    padding: 0;
}

.second .icon{
    width: 100%;
}

.college{
}

.second .resize{
    width: 55%;
}

.resize1{
    width: 40%;
}

.icon1{
    margin-top: 22%;
}

.second .iconImg {
    margin-left: 15%;
    margin-top: 2%;
}

.college, .interestsText{
    margin-top: 2%;
    padding-top: 3% !important;

}

.interestsText{
    text-align: left;
    margin-left: 3%;
}

.second .ic {
    margin-top: 2%;
}
/*new */
.image img{
    width: 30%;
}

.second ul{
    text-align: left;
    margin-left: 32%;
}

.second .image {
    margin-top: 10%;
    margin-bottom: 5%;
}

.second .col-lg-3 {
    background: #E5D8B7;
    height: 380px;
    margin-left: 1%;
    border-radius: 10px;
    margin-top: 5%;
    font-size: 95%;
    padding-left: 1%;
    padding-bottom: 27%;
}

/* end second */

/*third*/

.third{
    margin-bottom: 20%;

}
.workTitle h1{
    color: #632b61;

}
.contain{
    position: relative;
    margin-left: 0.5%;
    margin-top: 0.5%;
    
}
.curtain{
    width: 100%;
    height: 142px;
    position: absolute;
    top: 0;
}

.red{
    background: rgba(213,37,23,0.7);
}

.green{
    background: rgba(0, 150, 136, 0.7);
    
}

.blue{
    background: rgba(21, 90, 255, 0.7);

}

.firstLeft{
    margin-left: 25%;
}

.third h4{
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    margin-top: 25%;
}

/* new*/

.diamond{
    background: rgba(0,0,0,0.5);
    /*width: 180px;
    height: 180px;*/
    /*width: 76%;
    height: 95%;*/

    height: 11vw;
    width: 11vw;
    transform: rotateZ(45deg);
    overflow: hidden;
    /*border: 8px solid #CA4349;*/
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    transition: 0.4s all linear;
    transition-delay: 0.1s;

}

.diamond img{
    width: 300%;
    margin-top: -66%;
    transform: rotateZ(-45deg);
    margin-left: -54%;
    transition: 0.2s all linear;
    transition-delay: 0.2s;

}

.first1{
    margin-top: 5%;
    position: relative;
}

.practiceHeading{
    margin-top: 8%;
}

.second1{
    margin-top: -2%;
    position: absolute;
    width: 100%;
    /*margin-left: 18.3%;*/
    /*margin-left: 18.6%;*/
    margin-left: 33.56%;
}

.second1 .col-lg-2.col-md-2.col-xs-3 {
    position: relative;
   /* margin-left: -0.7%;*/
    /*margin-left: -0.62%;*/
    margin-left: 0;
}

.second1diamond{
    transform: rotateZ(0deg)translateY(69%)scale(1.39);
}

.first1diamond{
    transform: rotateZ(0deg)translateY(-69%)scale(1.39);
}

.rotateImage{
    transform: rotateZ(0deg) !important;
    width: 200% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.content{
    width: 180px;
    height: 180px;
    background: rgba(99,43,97,0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.2s all linear;
    transition-delay: 0.4s;
}

.diamond:hover .content{
    opacity: 1;
    transform: translateX(0);

}

.hang{
    position: absolute;
    top: 0;
    left: 0;
   /* margin-top: -25%;*/
    margin-left: 6%;
    transform: translateX(50%);
    opacity: 0;
    transition: 0.2s all linear;
    transition-delay: 0.5s;
}

.diamond:hover .hang{
    transform: translateX(0);
    opacity: 1;
}

.hang h4{

    opacity: 1 !important;
    color: #000000 !important;
    text-shadow: 1px 1px 5px white;
}
/*end third*/

/* fourth */

.fourth{
    position: relative;
}

.artTitle h1{
    color: #41858D;
}

.outerCircle{
    border: 10px solid #E5D8B7;
    width: 1500px;
    height: 1500px;
    border-radius: 100%;
    position: relative;
    /*background: #E5D8B7;*/
    transition: 0.4s all ease-in;

}

.innerCircle{
    position: absolute;
    width: 1000px;
    height: 1000px;
    /*border: 1px solid;*/
    border: 10px solid #ffffff;
    border-radius: 100%;
    margin-left: 16%;
    margin-top: 16%;
    top: 0;
    /*background: #ffffff;*/
    background: #E5D8B7;

}

.outerCircle img{
    width: 20%;
    position: absolute;
    margin-top: 3% !important;
    transition: 0.4s all ease-in;
    border-radius: 10px;

}

.outerCircle img:hover{
    transform: scale(1.5);
}

.square{
    height: 565px;
    overflow: hidden;
    margin-top: 2%;
    transform: scale(0.8);
}

.buttons{
    position: absolute;
    top: 0;
    margin-left: 45%;
    margin-top: 48%;
    z-index: 10;
}
/* end fourth */

/* fifth*/

.fifth{
    margin-bottom: 17%;
}

.contact{
    color: #E6485C
}

.fifth .email img{
    width: 5%;
    margin-right: 1%;
}

.fifth h2{
    display: inline;
}

.email {
    margin-top: 10%;
}
/* end fifth*/

#poster-carousel .item img {
    width: 100%;
}

#posterGalleryModal .modal-content {
    background: transparent;
}

#posterGalleryModal .modal-header{
    border-bottom: 0;
}

.resumeIcon{
    width: 18px;
    margin-top: -5px;
    margin-right: 5px;
}

.resumeLink{
    text-decoration: underline;
}

.sideNavBar {
    position: fixed;
    transform: rotate(90deg) translateY(-96vw) translateX(-8%);
    transform-origin: 0;
    width: 100vh;
    text-align: center;
    z-index: 100;
}

.sideNavBar a {
    margin-left: 5%;
    cursor: pointer;
    font-size: 20px;
    color: #E5D8B7;
    transform: rotate(-90deg);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.sideNavBar a:hover {
    color: #4F0101;
}

.sideNavBar a:active, .sideNavBar a:focus, .sideNavBar a:hover{
    text-decoration: none;

}

.sideNavBar .glyphicon-star{
    color: #4F0101;

}

.forMobile{
    display: none;
}



/* media queries*/
@media screen and (max-width: 990px) {

    .logo{
        width: 25vw;
    }
    .second .col-lg-3{
        height: auto;
    }

    .divyaImg, .workImg {
        width: 20vw;
    }

    .image img {
        width: 15vw;
    }

    .post {
        word-spacing: 0vw;
        font-size: 1.5vw;
    }

    .second1 {

        margin-left: 17.2vw;
    }

    .first {
        padding-top: 13%;
        height: 100vh;
    }

    .post span {
        /* word-spacing: 3vw; */
        font-size: 1.4vw;
    }

    .divya {
        width: 60vw;
    }
    .second, .third, .fourth, .fifth {
        font-size: 2vw;
    }

    .second .col-lg-3 {
        margin-left: 8%;
        padding-bottom: 8%;
    }
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 720px) {

    body{
        /*position: fixed;*/
    }
    .first {
        height: 80vh;
        padding-top: 30%;
    }

    .post span {
        font-size: 1.18vw;
    }
    .divya {
        width: 52vw;
    }

    .second .col-lg-3{
        height: auto;
    }

    .divyaImg, .workImg {
        width: 20vw;
    }

    .image img {
        width: 15vw;
    }

    .second .image {
        margin-bottom: 0;
    }

    .second h3 {
        margin-bottom: 3%;
    }

    .post {
        word-spacing: 0vw;
        font-size: 1.8vw;
        font-weight: bold;

    }



    .second1 {

        margin-left: 17.2vw;
    }

    .education{
        margin-left: 8.33333333%;
    }
    .second .col-lg-3 {
        margin-left: 8.33333333%;


    }
    img.resumeIcon {
        width: 4vw;
    }

    .firstFirst{
        transform: scale(2);
        margin-top: 35%;
        margin-bottom: 25%;
    }

    h1{
        font-size: 7vw;
    }

    h3{
        font-size: 5vw;
        font-weight: bold;

    }

    .second, .email h2{
        font-size: 4vw;
    }

    .secondContainer{
        transform: scale(1.5);
        margin-top: 10%;
    }

    .fifthFifth{
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .diamond{
        transform: rotateZ(0deg);
        width: 25.5vw;
        height: 25.5vw;
    }

    .first1 div:first-child {
        margin-left: 0 !important;
    }

    .diamond img {
        transform: rotateZ(0deg);
        margin-top: 0;
    }

    .forMobile{
        display: block;
    }

    .second1{
        display: none;
    }

    h2, .h2 {
        font-size: 7vw;
        margin-top: 10%;
    }

    #sec3 .col-lg-2 {
        width: 25%;
    }



}


/* end media queries*/