body{
    background-image: url(space.jpg);
    width: 100%;
    height: 100vh;
}



@-webkit-keyframes rot {
    from {
        transform: rotate(0deg)
        translate(-150px)
        rotate(0deg);
    }
    to {
        transform: rotate(90deg)
        translate(-75px)
        rotate(-90deg);
    }
}

.smile {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin: -20px;
    font-size: 100px;
    /*transform: rotate(360deg);*/
    -webkit-animation: rot 3s linear;
}

.rot{
    overflow: none;
    border-radius: 190px;
    width: 100px;
    height: 100px;
    left: 32%;
    /*background-color: blue;*/
    background: transparent;
    position: absolute;
    top: 243px;
    transition:all 3s linear;
    -webkit-animation: rev 5s linear infinite;
   /* transform:translate(206px);*/

}

.rot img{
    width: 100%;
}

@-webkit-keyframes rev{
    from{
    transform: rotate(0deg)
    translate(208px)
    /*rotate(0deg);*/
        }

    to{
    transform: rotate(360deg)
    translate(208px)
        /*rotate(500deg);*/
}
}

.wrapper{
    position: relative;


}


.circle{
    margin-left: 18%;
    margin-top: 3%;
    position: absolute;
}

.sun {
    position: absolute;
    margin-left: 27%;
    margin-top: 13%;
    width: 13%;
}

