<html ng-app="gemStore">
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/gemstore.css">
    </head>
    <body ng-controller="StoreController as store">
            <ul class="product" >
                <li ng-repeat="product in store.products">
                    <div class="mainHead">
                        <img class="" ng-src="{{product.image[0]}}">
                        <div class="content">
                            <h3>{{product.name}} </h3>
                            <p>{{product.price | currency:'&#8377;'}}
                            </p>
                            <div class="img-thumbnails clearfix">
                              <span class="small-image pull-left thumbnail" ng-repeat="image1 in product.image">
                                <img ng-src="{{image1}}" draggable="false" />
                              </span>
                            </div>

                        </div>
                        <button class="btn btn-primary pull-right" ng-show="product.canPurchase">Add to Cart</button>
                    </div>
                    <div class="tabs" ng-controller="TabController as tabC">
                        <ul class="tab-head">
                            <li ng-class="{active:tabC.isSet(1)}">
                                <a href="#" ng-click="tabC.setTab(1)">Description</a>
                            </li>
                            <li ng-class="{active:tabC.isSet(2)}">
                                <a href="#" ng-click="tabC.setTab(2)">Specs</a>
                            </li>
                            <li ng-class="{active:tabC.isSet(3)}">
                                <a href="#" ng-click="tabC.setTab(3)">Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-panel" ng-show="tabC.isSet(1)">
                            <h4>Description</h4>
                            <p>{{product.description}}</p>
                        </div>
                        <div class="tab-panel" ng-show="tabC.isSet(2)">
                            <strong>Shine: </strong> {{product.shine}}
                        </div>
                        <div class="tab-panel" ng-show="tabC.isSet(3)">
                            <ul class="review">
                                <li ng-repeat="reviews in product.reviews">
                                    <strong>{{reviews.stars}} Stars</strong>
                                    <span class="pull-right createdDate">{{reviews.createdOn | date: "dd MMMM y"}}</span>

                                    <p>{{reviews.body}}</p>
                                    <p>- {{reviews.author}}</p>
                                </li>
                            </ul>
                            
                            
                            <form name="reviewForm" ng-controller="ReviewsController as reviewsCtrl" ng-submit="reviewForm.$valid && reviewsCtrl.addReview(product)" novalidate >
                                <ul class="review">
                                <li>
                                    <strong>{{reviewsCtrl.review.star}} Stars</strong>
                                    <p>{{reviewsCtrl.review.body}}</p>
                                    <p>- {{reviewsCtrl.review.author}}</p>
                                </li>
                            </ul>
                                
                                {{reviewForm.$valid}}
                                <h4>Write a Review</h4>
                                <label> Stars :</label>
                                <fieldset>
                                    <label for="s1"><input ng-model="reviewsCtrl.review.star" type="radio" value="1" id="s1" > 1</label>
                                    <label for="s2"><input ng-model="reviewsCtrl.review.star" type="radio" value="2" id="s2"> 2</label>
                                    <label for="s3"><input ng-model="reviewsCtrl.review.star" type="radio" value="3" id="s3"> 3</label>
                                    <label for="s4"><input ng-model="reviewsCtrl.review.star" type="radio" value="4" id="s4"> 4</label>
                                    <label for="s5"><input ng-model="reviewsCtrl.review.star" type="radio" value="5" id="s5"> 5</label>
                                </fieldset>
                                <label>Body:</label>
                                <textarea ng-model="reviewsCtrl.review.body" class="form-control" required></textarea>
                                <label>Author</label>
                                <input ng-model="reviewsCtrl.review.author" type="email" class="form-control" required>
                                <div class="text-right">
                                    <input type="submit" class="btn btn-primary" style="margin-top: 2%;">
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </li>
            </ul>
            
        
        <!-- JS Scripts-->
        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/gemstore.js"></script>
        <script>
            $(document).ready(function(){
                            $(".tabs li a").on("click",function(e){
                                e.preventDefault();
                            });

            });
        </script>
    </body>
</html>
