<html>
   <head>
      <title>Todo - home</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/to-do.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
      
   </head>
   <body>
      
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-centered" id="mainBox">
                                                <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" :class="{ ' in show' : modalShow}">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New list</h4>
      </div>
      <div class="modal-body">
        <p>Title:</p>
         <input type="text" class="form-control" v-model="newTitle">
         <br>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary" @click="addNewList">Save</button>
         
      </div>
    </div>

  </div>
</div>

              <h2 class="headingMain" :class="lists[0].color"><a href="javascript:window.history.back();" class="fa fa-arrow-left"></a><span v-if="mainIndex!=1000">{{lists[mainIndex].title}}</span> <span v-if="mainIndex==1000">Empty</span>
               
               <select id="filter" class="form-control" v-model="filter">
                  <option value="all">All</option>
                  <option value="comp">Complete</option>
                  <option value="pend">Pending</option>
               </select>
                 
                 
               </h2>
               
               <div class="container-fluid">
                  <div class="toDo row" v-if="showList(filter).length" v-for="(item,index) in showList(filter)" :class="{'strike' : item.complete}" > 
                     <div class="col-lg-1 col-md-1" >
                        <div class=" md-checkbox">
                           <input type="checkbox" :for="'check'+index" :checked="item.complete" @change="changeStrike(item)">
                           <label :id="'check'+index"></label>
                           
                        </div>

                     </div>   
                     <div class="title col-lg-10 col-md-10" @click="changeStrike(item)"   >{{item.name}} </div>
                     <div class="col-lg-1 col-md-1"><a href="" class="fa fa-trash" @click="deleteItem(item)"></a></div>
                  </div>
                  <div class="toDo row" v-if="showList(filter).length==0">
                     <div class="col-lg-12">
                           <span class="label label-default">No Tasks {{listingLength}}</span>
                        
                     </div>   
                  </div>

               </div>
               <div class="addNewItem">
                  <input type="text" class="form-control inline-block" v-model="newItem" style="width: 90%">
                  <button class="btn-primary" @click="addItem">Add</button>
                  
               </div>
            
            </div>
         
         </div>
      
      
      </div>
      
      
   
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/to-do.js"></script>
   </body>
</html>